.avatarWrapper {
  display: grid;
  place-items: center;
  .avatar {
    --specialBg: var(--surface-color);
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    padding: 0;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-small);
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

    font {
      mix-blend-mode: darken;
      font-weight: 900;
      transform: scale(1.3);
    }

    &:has(.loading) {
      .default,
      img {
        opacity: 0.2;
      }
    }

    .default {
      max-width: 100%;
      max-height: 100%;
      border-radius: 10px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 1px;
      user-select: none;
      background: var(--specialBg);
    }

    input {
      display: none;
    }

    &.size_large {
      max-width: 128px;
      max-height: 128px;
      width: 128px;
      height: 128px;
      display: flex;
      align-items: center;
      justify-content: center;

      span > font {
        transform: scale(5);
      }

      i[class*="processing"] {
        font-size: var(--heading-large-font-size);
      }
    }

    img {
      max-width: 128px;
      max-height: 128px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: var(--radius-small);
    }

    .loading {
      max-width: 100%;
      max-height: 100%;
      border-radius: var(--radius-small);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      user-select: none;
      color: var(--background-on-primary);
    }

    &.border {
      border-radius: var(--radius-default);
      padding: var(--spacing-xxsmall);
      border: 1px solid var(--surface-secondary-color);
      width: fit-content;
      margin-bottom: var(--spacing-default);
      position: relative;
      cursor: pointer;
    }

    .icon {
      background: var(--surface-secondary-color);
      border-radius: var(--radius-full);
      position: absolute;
      bottom: calc(var(--spacing-small) * -1);
      right: calc(var(--spacing-small) * -1);
      border: 2px solid var(--background-color);
      padding: var(--spacing-xsmall);
      color: var(--surface-on-secondary);
      aspect-ratio: 1/1;
      line-height: 1;
    }
  }
  p {
    color: var(--surface-on-muted);
  }

  .message {
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease;
    transform: translateY(-50%);

    &.show {
      opacity: 1;
      height: auto;
      margin-top: var(--spacing-default);
      margin-bottom: var(--spacing-xsmall);
      transform: translateY(0);
      transition: all 0.2s ease;
    }
  }
}
