$input-default: var(--surface-color);
$input-default-text: var(--surface-on);
$input-default-border: var(--surface-secondary-color);
$input-lg-font-size: var(--spacing-xxlarge);
$input-placeholder-opacity: 0.25;

.input {
  background-color: $input-default;
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
  border-radius: var(--radius-default);
  box-shadow: inset 0px 0px 0px 1px $input-default-border;
  padding: var(--spacing-small) var(--spacing-default);
  box-sizing: border-box;
  position: relative;

  &,
  & > * {
    font-size: var(--text-default-font-size);
    border: 0;
  }
  .loading {
    display: none;
  }

  .prefix {
    margin-right: calc(var(--spacing-xsmall) * -1);
    user-select: none;
    pointer-events: none;
    padding: 0 !important;
    opacity: 0.25;
  }

  .body {
    background: transparent;
    border: none;
    padding: 0;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-small);
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    max-width: 120px;
    max-height: 120px;
    inset: 4px;
    width: 96px;
    height: 96px;
    box-sizing: border-box;

    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: var(--radius-small);
    }
  }

  i,
  input::placeholder {
    color: $input-default-text;
    opacity: $input-placeholder-opacity;
  }
  &:has(input:focus) {
    box-shadow: inset 0px 0px 0px 1px var(--primary-color);
  }

  input {
    background: transparent;
    width: 100%;
    color: $input-default-text;
    &::-webkit-file-upload-button {
      display: none;
    }

    &:focus {
      outline: none;
      color: $input-default-text;
      opacity: 1;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px $input-default inset;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: white;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
    }
  }

  &.size_ {
    &small {
      padding: var(--spacing-xsmall) var(--spacing-default);
      width: min-content;
      input {
        min-width: 72px;
      }
    }
    &large {
      &,
      * {
        font-size: $input-lg-font-size;
        align-items: center;
        justify-content: center;
        * {
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  &.type_file {
    width: 104px;
    height: 104px;
    box-sizing: border-box;
    background: transparent;
    position: relative;
    i,
    input::placeholder {
      opacity: 1;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      inset: 4px;
      background: rgba(white, 0.05);
      border-radius: calc(var(--radius-default) - 2px);
    }

    i[class*="app-icon"]:not([class*="processing"]) {
      background: var(--surface-secondary-color);
      border-radius: var(--radius-full);
      position: absolute;
      bottom: calc(var(--spacing-small) * -1);
      right: calc(var(--spacing-small) * -1);
      border: 2px solid var(--background-color);
      padding: var(--spacing-xsmall);
      color: var(--surface-on-secondary);
      aspect-ratio: 1/1;
      line-height: 1;
      z-index: 2;
    }

    input {
      display: none;
    }

    &.loader {
      * {
        opacity: 0.25;
      }
    }
    .loading {
      display: flex;
      position: absolute;
      left: var(--spacing-xxsmall);
      right: var(--spacing-xxsmall);
      top: var(--spacing-xxsmall);
      bottom: var(--spacing-xxsmall);
      align-items: center;
      justify-content: center;
      background: rgba(var(--surface-color), 0.75);
      color: var(--surface-on-primary);
      &,
      * {
        opacity: 1;
      }
      i {
        transform: scale(1.5);
      }
    }

    &.size_large {
      width: 100%;
      height: auto;
      aspect-ratio: 24/11;
      z-index: 1;

      .body {
        max-width: calc(100% - var(--spacing-xsmall));
        width: 100%;
        max-height: calc(100% - var(--spacing-xsmall));
        z-index: 1;
        height: 100%;
        img {
          z-index: 1;
          object-fit: fill;
        }
      }

      i[class*="app-icon"]:not([class*="processing"]) {
        font-size: var(--text-default-font-size);
        transform: scale(1) !important ;
      }
    }
  }

  [class*="app-icon danger"],
  [class*="app-icon success"] {
    opacity: 1;
  }
}
